@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html,
body {
    font-family: "Smooch Sans", sans-serif;
    background: #25282f;
}

h1 {
    font-size: 6rem;
}

p {
    font-size: 14px;
}

/* Bauhaus Grid */
#bauhaus {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    height: 100vh;
}

/* Bauhaus Box */
.bauhaus-box {
    padding: 30px;
}

.bauhaus-box:nth-of-type(1) {
    grid-row: 1;
    grid-column: 1;
}
.bauhaus-box:nth-of-type(2) {
    grid-row: 1/6;
    grid-column: 2/4;
}
.bauhaus-box:nth-of-type(3) {
    grid-row: 1;
    grid-column: 4/7;
}
.bauhaus-box:nth-of-type(4) {
    grid-row: 2/6;
    grid-column: 1;
}
.bauhaus-box:nth-of-type(5) {
    grid-row: 2/5;
    grid-column: 4/7;
    text-align: right;
    padding-left: 200px;
}

.bauhaus-box:nth-of-type(5) h1 {
    line-height: 1.1em;
    padding-top: 40px;
    padding-bottom: 30px;
}

.bauhaus-box:nth-of-type(6) {
    grid-row: 5/6;
    grid-column: 4;
}
.bauhaus-box:nth-of-type(7) {
    grid-row: 5/6;
    grid-column: 5;
}
.bauhaus-box:nth-of-type(8) {
    grid-row: 5/6;
    grid-column: 6;
}

.bauhaus-box-red {
    background: #b93e37;
}
.bauhaus-box-blue {
    background: #2952ba;
}
.bauhaus-box-yellow {
    background: #d1ac39;
}
.bauhaus-box-white {
    background: #fff;
}

@keyframes grow {
    from {
        transform: scale(1);
        background-color: #d1ac39;
    }
    to {
        transform: scale(1.1);
        background-color: cyan;
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
        background-color: #b93e37;
    }
    to {
        transform: scale(0.9);
        background-color: orange;
    }
}

@keyframes rotate {
    from {
        transform: translate(0);
        background-color: #2952ba;
    }
    to {
        transform: translate(200px);
        background-color: violet;
    }
}

@keyframes changecolor {
    from {
        background-color: white;
        transform: translateY(0);
    }
    to {
        background-color: green;
        transform: translateY(-5%);
    }
}

@font-face {
    font-family: 'Smooch Sans';
    src: url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

    font-weight: normal;
    font-style: normal;
}



@media (max-width: 768px) {
    #bauhaus {
        grid-template-columns: 1fr;
    }

    .bauhaus-box:nth-of-type(1),
    .bauhaus-box:nth-of-type(2),
    .bauhaus-box:nth-of-type(3),
    .bauhaus-box:nth-of-type(4),
    .bauhaus-box:nth-of-type(5),
    .bauhaus-box:nth-of-type(6),
    .bauhaus-box:nth-of-type(7),
    .bauhaus-box:nth-of-type(8) {
        grid-column: 1;
    }

    .bauhaus-box:nth-of-type(1) {
        grid-row: 1;
    }
    .bauhaus-box:nth-of-type(2) {
        grid-row: 2;
    }
    .bauhaus-box:nth-of-type(3) {
        grid-row: 3;
    }
    .bauhaus-box:nth-of-type(4) {
        grid-row: 4;
    }
    .bauhaus-box:nth-of-type(5) {
        grid-row: 5;
        text-align: center;
        padding: 20px;
    }

    .bauhaus-box:nth-of-type(5) h1 {
        padding-top: 0;
    }
    .bauhaus-box:nth-of-type(6) {
        grid-row: 6;
    }
    .bauhaus-box:nth-of-type(7) {
        grid-row: 7;
    }
    .bauhaus-box:nth-of-type(8) {
        grid-row: 8;
    }
}

.bauhaus-box-blue {
    animation: rotate 2s infinite alternate;
}

.bauhaus-box-red {
    animation: shrink 2s infinite alternate;
}

.bauhaus-box-yellow {
    animation: grow 2s infinite alternate;

}

.bauhaus-box-white {
    animation: changecolor 2s infinite alternate;
}


